/* PC */
@media (min-width: 1024px){
    #header #mobile-menu{
        display: none;
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px){
    #header #mobile-menu{
        display: none;
    }
}

/* MOBILE */
@media (max-width: 739px){

    #nav > li {
        display: block;
    }

    #header{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    #header .search-btn{
        display: none;
    }
}

