/* PC */
@media (min-width: 1024px){

}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px){
    #header .mobile-menu{
        display: ;
    }
}

/* MOBILE */
@media (max-width: 739px){

    #nav > li {
        display: block;
    }

    #header{
        overflow: hidden;
    }

    #header .search-btn{
        display: none;
    }
}

