/* PC */
@media (min-width: 1024px){
    /* ẩn đi icon 3 sọc */
    #header #mobile-menu{
        display: none;
    }
}

/* MOBILE & TABLET */
/* css những thuộc tính có cả trên mobile và tablet */
@media (max-width: 1023px){

    /* tăng độ rộng của nút bấm khi màn hình là tablet hay mobile giúp cho ngón tay người dùng dễ bấm */

    /* khi người dùng phải chạm ngond tay vào thì luôn đảm bao
    .btn{
        padding: 16px 20px;
    }

    .contact-form .form-control {
        padding: 15px 4px;
    }

    .contact-info {
        font-size: 18px;
        line-height: 2;
    }

    #footer-section .social-list a{
        padding: 0 12px;
    }

    #footer-section .coppy-right a {
        padding: 14px 0;
        display: inline-block;
    }
  
 }


/* TABLET */
@media (min-width: 740px) and (max-width: 1023px){
    /* ẩn đi icon 3 sọc */
    #header #mobile-menu{
        display: none;
    }

}

/* MOBILE */
@media (max-width: 739px){
    /* tao 1 class dung chung cho mobile */
    /* tạo 1 class mới như này làm cho clean code hơn, giúp người đọc dễ hiểu và hiểu đúng nghĩa hơn */
    /* thêm !important vào các class css dùng chung của mobile */

    .mobile-full-width,
    .mobile-col-full{
        width: 100% !important;
    }

    #content .content-section{
        padding-top: 32px;
        padding-bottom: 64px;
    }

    /* căn chỉnh hình ảnh bằng 60% kích thước chiều ngang của màn hình nhỏ */
    #content .member-img{
        width: 60%;
        padding-bottom: 30px;
    }

     /* không hiển thị những menu con nằm ngoài header */
     #header{
        overflow: hidden;
    }

    /* ẩn đi ô search khi ở mobile */
    #header .search-btn{
        display: none;
    }

    /* căn chỉnh lại cái icon 3 sọc */
    #header #mobile-menu {
        padding-right:  40px;
    }

    #nav {
        display: block;
    }

    /* chuyẻn menu thành hàng dọc */
    #nav > li {
        display: block;
    }

    /* tắt cái position : absolute của khi trên pc */
    #nav .subnav{
        position: unset;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 38px;
        text-transform:capitalize ;
    }

    .contact-info {
        padding-bottom: 36px;
    }
 
}

