/* PC */
@media (min-width: 1024px){
    
    #header #mobile-menu{
        display: none;
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px){
    /* ẩn đi icon 3 sọc */
    #header #mobile-menu{
        display: none;
    }
}

/* MOBILE */
@media (max-width: 739px){

    /* chuyẻn menu thành hàng dọc */
    #nav > li {
        display: block;
    }

    /* không hiển thị những menu con nằm ngoài header */
    #header{
        overflow: hidden;
       
    }

    /* ẩn đi ô search khi ở mobile */
    #header .search-btn{
        display: none;
    }
}

